$defaultFontSize: 16px;

$primary-color: yellow;
$primary-color-hover: #023;

$menu-color: #252527;

$font-light: #fff;
$font-grey-light: #e8e8e8;
$font-grey: #808080;

// Responsive down size

$media-breakpoint-down-xs: 413.98px;
$media-breakpoint-down-sm: 573.98px;
$media-breakpoint-down-md: 767.98px;
$media-breakpoint-down-lg: 991.98px;
$media-breakpoint-down-xl: 991.98px;

// Responsive up size

$media-breakpoint-up-xs:320px;
$media-breakpoint-up-sm:576px;
$media-breakpoint-up-md:768px;
$media-breakpoint-up-lg:992px;
$media-breakpoint-up-xl:1200px;

$background-light: #fff;
$border-grey: #ccc;